# Backend framework
fastapi
uvicorn[standard]

# Env & validação
python-dotenv
pydantic

# Upload de arquivos / FormData
python-multipart

# PDF processing
pypdf

# Machine Learning / NLP
scikit-learn
joblib
spacy

# LLM (Gemini)
google-generativeai
